@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Gloria+Hallelujah&family=M+PLUS+Code+Latin:wght@300&family=Quicksand&family=Vollkorn+SC&display=swap');

body{
    background-color: #ededed;
}

footer {
    background-color:grey;
    width: 100%;
 }
